body, html{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
*{
  -moz-box-sizing: border-box;
	   box-sizing: border-box;
}
/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/.block-group,.block,.block-group:after,.block:after,.block-group:before,.block:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.block-group{*zoom:1}
.block-group:before,.block-group:after{display:table;content:"";line-height:0}
.block-group:after{clear:both}
.block-group{list-style-type:none;padding:0;margin:0}
.block-group>.block-group{clear:none;float:left;margin:0 !important}
.block{float:left;width:100%}


#body, #grid{
	width:50%;
	float: left;
	height: 100%;
	border: 10px solid white;
}
.element{
	height: auto;
	padding: 20px;
}
.element:nth-child(odd){
	background-color: #F2F2F2;
}
.element:nth-child(even){
	background-color: white;
}
.b1{
	width: 30%;
}
.b2{
	width: 35%;
	text-align: center;
}